/* Estilo para los títulos h1 */
h1 {
    font-family: 'Times New Roman', Times, serif; /* Define la fuente del título */
    font-size: 35px; /* Tamaño del texto del título */
    color: rgb(153, 0, 255); /* Color del texto del título en formato RGB (morado) */
}

/* Clase para el párrafo principal */
.parrafo1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Fuente del texto */
    font-size: 20px; /* Tamaño del texto */
    color: rgb(255, 5, 5); /* Color del texto en formato RGB (rojo brillante) */
}

/* Clase para las imágenes */
.Imagenes {
    width: 250px; /* Define el ancho de la imagen */
    height: 250px; /* Define la altura de la imagen */
    border-radius: 45px; /* Redondea las esquinas de la imagen */
}

